<%- include('./partials/topItems') %>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="article maincontent">
        <h1 class="article-title">Locations From the Stories</h1>
        <p>
          The events of the <em>Outlander</em> series take place aross three continents, in several countries, in a myriad of places and times.  Many of these locations are fictional settings created by the author's imagination based on real places, such as Craigh na Dun, the ancient stone circle where Claire Randall is transported from Post-WWII England in 1945 through time to 1743, or Lallybroch, the fictional Scottish home of hero Jamie Fraser, likely based on <a href="https://www.thecastlesofscotland.co.uk/the-best-castles/scenic-castles/midhope-castle/" target="_blank">Midhope Castle</a>.
        </p>
        <p>
          Other locations featured in the stories, however, are <em>real</em>, and Outlander fans of all ages flock to visit them hoping to visit the memorable places from the best-selling series. This site highlights many of the real-life locations as identified by <a href="https://outlander.fandom.com/wiki/Outlander_Wiki" target="_blank"><em>The Outlander Wiki</em></a>. The information shared about each place can be attributed to their work.
        </p>

      </article>
      <article class="article maincontent">
        <h2 class="article-title">About the Series</h2>
        <p>
          <em>Outlander</em> is the title of the first book in the historical fiction <a href="http://www.dianagabaldon.com/books/chronology-of-the-outlander-series/" target="_blank">series</a> of the same name penned by <a href="http://www.dianagabaldon.com" target="_blank">Diana Gabaldon</a>. According to <a href="https://en.wikipedia.org/w/index.php?title=Outlander_(book_series)&oldid=1017162228" target="_blank"><em>Wikipedia</em></a>:
          <blockquote><em>
          "The Outlander series focuses on 20th-century British nurse Claire Randall, who time travels to 18th-century Scotland and finds adventure and romance with the dashing Highland warrior Jamie Fraser." </em></blockquote>
        </p>
        <p>
          The best-selling series currently features eight full-length novels with a ninth forthcoming in 2021. A series of related work stars supporting character Lord John Grey as the hero in a spin-off series of short mystery novels set during the time of <em>Voyager</em>. Diana Gabaldon has also written several shorts connected to the <em>Outlander</em>series; a complete chronological reading list can be found on her <a href="http://www.dianagabaldon.com/books/chronology-of-the-outlander-series/" target="_blank">website</a>.
        </p>
      </article>
    </div>

    <aside class="col-md-4">
      <article class="sidebar">
        <h4 class="sidebar-title">Books in the Series</h4>
        <ul class="sidebar-body">
          <li><a href="https://www.goodreads.com/book/show/10964.Outlander" target="_blank">Outlander</a> (1991)</li>
          <li><a href="https://www.goodreads.com/book/show/5364.Dragonfly_in_Amber" target="_blank">Dragonfly in Amber</a> (1992)</li>
          <li><a href="https://www.goodreads.com/book/show/10987.Voyager" target="_blank">Voyager</a> (1993)</li>
          <li><a href="https://www.goodreads.com/book/show/40909452-drums-of-autumn" target="_blank">Drums of Autumn</a> (1996)</li>
          <li><a href="https://www.goodreads.com/book/show/10967.The_Fiery_Cross" target="_blank">The Fiery Cross</a> (2001)</li>
          <li><a href="https://www.goodreads.com/book/show/10965.A_Breath_of_Snow_and_Ashes" target="_blank">A Breath of Snow and Ashes</a> (2005)</li>
          <li><a href="https://www.goodreads.com/book/show/2832909-an-echo-in-the-bone" target="_blank">An Echo in the Bone</a> (2009)</li>
          <li><a href="https://www.goodreads.com/book/show/11710373-written-in-my-own-heart-s-blood" target="_blank">Written in My Own Heart's Blood</a> (2014)</li>
          <li><a href="https://www.goodreads.com/book/show/50498704-go-tell-the-bees-that-i-am-gone" target="_blank">Go Tell the Bees That I Am Gone</a> (2021 <em>TBR</em>)</li>
        </ul>
        <h4 class="sidebar-title">Related Works</h4>
        <ul class="sidebar-body">
          <li>
            <a href="https://www.goodreads.com/series/44511-lord-john-grey" target="_blank">The Lord John Grey Series</a>
          </li>
          <li>
            <a href="https://www.goodreads.com/book/show/7517343-the-exile?from_search=true&from_srp=true&qid=nu4fu6gU1t&rank=1" target="_blank">The Exile: An Outlander Graphic Novel</a> (2010)
          </li>
          <li>
            <a href="https://www.goodreads.com/book/show/10989.The_Outlandish_Companion" target="_blank">The Outlandish Companion, Vol. 1</a> (1999)
          </li><li>
            <a href="https://www.goodreads.com/book/show/24974121-the-outlandish-companion-volume-two" target="_blank">The Outlandish Companion, Vol. 2</a> (2015)
          </li>
          <li>
            <a href="https://www.starz.com/us/en/series/outlander/21796" target="_blank">Outlander: The Series (STARZ)</a> (2014-present)
          </li>
        </ul>
      </article>
    </aside>
  </div>
</div>
